.logo{
    z-index: '1';
    margin-bottom: '-70px'
}

.card{
    height: '280px';
    width:'60%';
    display: 'flex';
    justify-content: center;
    background-color: '#5050DE'!important;
}



/* style={{marginBottom:'-70px', zIndex:'1'}} */





/* styles for new login */

.login{
    background: #ffffff;
    box-shadow: 0px 0px 17px -11px rgba(0,0,0,0.75);
}

.divlogo{
    text-align: center;
}
.divlogo{
    height: 50%;
    width: 50%;
}